<!-- Start Home Section -->
<div id="home">

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg fixed-top">
    <div class="container-fluid">
      <a href="#home" class="navbar-brand"><img src="img/nuno.png" alt=""></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
        <span class="custom-toggler-icon"><i class="fas fa-bars"></i></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a href="#home" class="nav-link">Início</a>
          </li>
          <li class="nav-item">
            <a href="#servicos" class="nav-link">Serviços</a>
          </li>
          <li class="nav-item">
            <a href="#parceiros" class="nav-link">Parceiros</a>
          </li>
          <li class="nav-item">
            <a href="#contribuicoes" class="nav-link">Contribuições</a>
          </li>
          <li class="nav-item">
            <a href="#sobre" class="nav-link">Sobre</a>
          </li>
          <li class="nav-item">
              <a href="#equipe" class="nav-link">Equipe</a>
            </li>
          <li class="nav-item">
            <a href="#contact" class="nav-link">Cadastre-se</a>
          </li>
        </ul>
      </div>

    </div>
  </nav>
  <!-- End Navigation -->

		<!-- Inicio da Landing page de apresentacao -->
		<div class="landing">
			<div class="home-wrap">
				<div class="home-inner"></div>
			</div>
		</div>
    <!-- Fim da Landing page de apresentação -->
    
    <!-- Start Landing Page Caption -->
		<div class="caption text-center text-light text-uppercase">

			<h1 class="font-weight-bold os-animation" data-animation="fadeInUp" data-delay=".6s">Doe <span class="text-nuno">Mais</span></h1>
			<h3 class="os-animation" data-animation="fadeInUp" data-delay=".8s">O bem faz bem!</h3>
			<a href="#contact" class="btn btn-outline-light btn-lg rounded-0 os-animation" data-animation="fadeInUp" data-delay="1s">Cadastre-se</a>

		</div>
    <!-- End Landing Page Caption -->

    <!-- responsavel por apresentar o set down -->
		<a href="#servicos" class="down-arrow text-center">
      <div class="arrow d-none d-md-block">
        <i class="fas fa-angle-down"></i>
      </div>
    </a>
    <!-- End set down -->
  </div> <!-- End Home Section -->

  <div id="servicos" class="offset">
  		<!-- Start Jumbotron -->
		<div class="jumbotron m-0 py-5">

			<div class="col-12 os-animation" data-animation="fadeInUp">
				<h3 class="heading">Nossos Serviços</h3>
				<div class="heading-underline"></div>
			</div>

			<div class="container">
				<div class="row text-center px-lg-4 px-xl-5">

					<div class="col-sm-6 col-md-4 os-animation" data-animation="fadeInLeft">
						<div class="feature px-2">
							<span class="fa-stack fa-2x">
								<i class="fas fa-circle fa-stack-2x"></i>
								<i class="fas fa-mobile-alt fa-stack-1x fa-inverse"></i>
							</span>
							<h3>Faça o Seu Cadastro </h3>
							<p class="lead">Faça o seu cadastro pela App ou pelo o site e encontre instituições sérias e ajuda e apoio social para você realizar a sua doação.</p>
						</div>
					</div>

					<div class="col-sm-6 col-md-4 os-animation" data-animation="fadeInUp">
						<div class="feature px-2">
							<span class="fa-stack fa-2x">
                    <i class="fas fa-circle fa-stack-2x"></i>
                  <!--link pagseguro-->
                  <a href="https://acesso.pagseguro.uol.com.br/?_ga=2.195850220.1164223595.1575902092-1441882793.1540732434">
                    <i class="fas fa-desktop fa-stack-1x fa-inverse" data-fa-transform="shrink-1"></i>
                  </a>
              </span>
             	<h3>Doe de Forma Simples</h3>
              <p class="lead">Pratique o bem, apoie instituições de forma rápida e fácil através do site ou app.</p>
           	</div>
					</div>

					<div class="col-sm-6 col-md-4 os-animation" data-animation="fadeInRight">
						<div class="feature px-2">
							<span class="fa-stack fa-2x">
								<i class="fas fa-circle fa-stack-2x"></i>
								<i class="fas fa-play fa-stack-1x fa-inverse" data-fa-transform="shrink-3.5 right-1"></i>
							</span>
							<h3>Acompanhe sua Contribuição</h3>
							<p class="lead">Transparência e acompanhamento disponíveis a qualquer hora e qualquer lugar.</p>
						</div>
					</div>
				</div> <!-- End Row -->
			</div> <!-- End Container-->
    </div> <!-- End Jumbotron -->
    	<!-- Start Portfolio Section -->
	<div id="parceiros" class="offset">

      <div class="container-fluid px-0">
        <div class="row justify-content-center py-5">
  
          <div class="col-12 mt-5 os-animation" data-animation="fadeInUp">
            <h3 class="heading">Parceiros</h3>
            <div class="heading-underline"></div>
          </div>
  
          <div class="col-sm-6 col-md-3 p-0 os-animation" data-animation="bounceInLeft" data-delay=".2s">
            <div class="portfolio-item overflow-hidden">
              <a href="../assets/img/portfolio/1.png" data-lightbox="example-set" data-title="My Portfolio Image Description">
                <img src="../assets/img/portfolio/1.png" alt="" class="example-image w-100">
              </a>
            </div>
          </div>
  
          <div class="col-sm-6 col-md-3 p-0 os-animation" data-animation="bounceInRight" data-delay=".2s">
            <div class="portfolio-item overflow-hidden">
                <a href="../assets/img/portfolio/ubec.jpg" data-lightbox="example-set" data-title="My Portfolio Image Description">
                  <img src="../assets/img/portfolio/ubec.jpg" alt="" class="example-image w-100">
                </a>
            </div>
          </div>
        </div> <!-- End Row -->
      </div> <!-- End Container -->
    </div>

    <!-- Start Skills Section -->
  	<div id="contribuicoes" class="offset">
      
        <div class="jumbotron m-0 py-5">
            <div class="container">
      
              <div class="col-12 os-animation" data-animation="fadeInUp">
                <h3 class="heading">Contribuições</h3>
                <div class="heading-underline"></div>
              </div>
      
              <div class="row justify-content-center text-center os-animation" data-animation="fadeInUp">
                <div class="col-md-9 col-lg-12 col-xl-11">
                  <div class="row">
      
                    <div class="col-md-6 col-lg-3">
                      <span class="fa-stack fa-3x">
                        <i class="fas fa-circle fa-stack-2x text-nuno"></i>
                        <!--<i class="fas fa-tachometer fa-stack-1x fa-inverse"></i> -->
                        <i class="fa fa-tachometer fa-inverse"></i>
                      </span>
                      <h1 class="text-nuno font-weight-bold py-1"><span class="counter">10</span></h1>
                      <h4 class="text-uppercase font-weight-bold">Campanhas Dedicadas</h4>
                    </div>
      
                    <div class="col-md-6 col-lg-3">
                      <span class="fa-stack fa-3x">
                        <i class="fas fa-square fa-stack-2x text-nuno"></i>
                        <i class="fab fa-codepen fa-stack-1x fa-inverse"></i>
                      </span>
                      <h1 class="text-nuno font-weight-bold py-1"><span class="counter">6</span></h1>
                      <h4 class="text-uppercase font-weight-bold">Entidades Associadas</h4>
                    </div>
      
                    <div class="col-md-6 col-lg-3">
                      <span class="fa-stack fa-3x">
                        <i class="fas fa-square fa-stack-2x text-nuno"></i>
                        <i class="fas fa-users fa-stack-1x fa-inverse"></i>
                      </span>
                      <h1 class="text-nuno font-weight-bold py-1"><span class="counter">4</span></h1>
                      <h4 class="text-uppercase font-weight-bold">Doadores Envolvidos</h4>
                    </div>
      
                    <div class="col-md-6 col-lg-3">
                      <span class="fa-stack fa-3x">
                        <i class="fas fa-circle fa-stack-2x text-nuno"></i>
                        <i class="fas fa-usd fa-stack-1x fa-inverse"></i>
                      </span>
                      <h1 class="text-nuno font-weight-bold py-1"><span class="counter">101,00</span></h1>
                      <h4 class="text-uppercase font-weight-bold">Valor Arrecadado</h4>
                    </div>
      
                  </div> <!-- End Row -->
                </div> <!-- End Column -->
              </div> <!-- End Row Justify Content -->
            </div> <!-- End Container -->
          </div> <!-- End Jumbotron -->
  	</div>
  </div>
  <div id="sobre" class="offset">

    <div class="container-fluid px-0">
      <div class="row justify-content-center py-5">

        <div class="col-12 mt-5 os-animation" data-animation="fadeInUp">
          <h3 class="heading">Sobre</h3>
          <div class="heading-underline"></div>
        </div>
        <p class="lead">
        Somos uma OSC - Organização da Sociedade Civil, sem fins lucrativos.<br>
        Nossa fundação foi em 2019 por estudantes que estavam cansados de reclamar e decidiram agir.<br>
        Nossa missão é ajudar pessoas de comunidades consideradas vulneráveis socialmente, através de doaçoes,<br>
        dando a elas escolhas de caminhos diferentes da exclusão e situações de risco.<br>
        Nossa visão é sermos referência na ajuda e na atuação do incentivo ao empreendedorismo.<br>
        Nossos valores são à transparência, respeito, ética, honestidade, solidariedade, flexibilidade, tolerância e perseverança.<br>
      </p>
       
      </div> <!-- End Row -->
    </div> <!-- End Container -->
  </div>
      <!-- Start Skills Section -->
      <div id="equipe" class="offset">
      
          <div class="jumbotron m-0 py-5">
              <div class="container">
        
                <div class="col-12 os-animation" data-animation="fadeInUp">
                  <h3 class="heading">Equipe</h3>
                  <div class="heading-underline"></div>
                </div>
        
            <div class="col-md-9 col-lg-12 col-xl-11">
                <div class="row">
    

            <div class="col-sm-6 col-md-3 p-0 os-animation" data-animation="bounceInLeft" data-delay=".2s">
                <div class="portfolio-item overflow-hidden">
                  <a href="../assets/img/integrante1.png" data-lightbox="example-set" data-title="My Portfolio Image Description">
                    <img src="../assets/img/integrante1.png" width="250" height="250" alt="" >
                  </a>
                </div>
              </div>
              <div class="col-sm-6 col-md-3 p-0 os-animation" data-animation="bounceInLeft" data-delay=".2s">
                  <div class="portfolio-item overflow-hidden">
                    <a href="../assets/img/integrante2.png" data-lightbox="example-set" data-title="My Portfolio Image Description">
                      <img src="../assets/img/integrante2.png" width="250" height="250" alt="" >
                    </a>
                  </div>
                </div>
                <div class="col-sm-6 col-md-3 p-0 os-animation" data-animation="bounceInLeft" data-delay=".2s">
                    <div class="portfolio-item overflow-hidden">
                      <a href="../assets/img/integrante3.png" data-lightbox="example-set" data-title="My Portfolio Image Description">
                        <img src="../assets/img/integrante3.png" width="250" height="250" alt="" >
                      </a>
                    </div>
                  </div>

                  <div class="col-sm-6 col-md-3 p-0 os-animation" data-animation="bounceInLeft" data-delay=".2s">
                      <div class="portfolio-item overflow-hidden">
                        <a href="../assets/img/integrante4.png" data-lightbox="example-set" data-title="My Portfolio Image Description">
                          <img src="../assets/img/integrante4.png" width="250" height="250" alt="" >
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>  
      </div>

  <!-- Start Contact Section -->
	<div id="contact" class="offset">

      <div class="container-fluid footer px-0">
        <div class="row outer">
  
          <div class="container">
            <div class="row py-3">
  
              <div class="col-md-5 px-0 pr-md-3">
                <p>Doe Mais, Portal responsável por engajar entidade e voluntários para praticar o Bem.</p>
                <strong>Localização</strong>
                <p>100 Av. Caxanga<br>Recife, A XXX</p>
                <strong>Informações de Contato</strong>
                <p>(XXX) XXX-XXXX<br>contato@doemais.com.br</p>
              </div> <!-- End Column -->
  
              <div class="col-md-7 px-0 pl-md-3">
                <h3>Cadastre-se</h3>
                <!-- inicio do formulario -->
                <form (ngSubmit)="salvar()" [formGroup]="cadastroForm">
               
                  <div class="messages"></div>
                  <div class="controls">
                    <!-- Campo Nome -->
                    <div class="form-group">
                      <input formControlName="nome" type="text" id="form_name" class="form-control" name="name" required="required" placeholder="Seu Nome">
                    </div>
                    <!-- Campo Email -->
                    <div class="form-group">
                      <input formControlName="email" type="email" id="form_email" class="form-control" name="email" required="required" placeholder="Informe o Seu Email">
                    </div>
                    <!-- Campo Login-->
                    <div class="form-group">
                      <input formControlName="login" type="text" id="form_login" class="form-control" name="login" required="required" placeholder="Informe o Seu Login">
                    </div>  
                    <!-- Campo Senha-->
                    <div class="form-group">
                      <input formControlName="senha" type="password" id="form_senha" class="form-control" name="senha" required="required" placeholder="Informe Sua Senha">
                    </div>  
                   
                    <!-- Criar conta -->
                    <input type="submit" [disabled]="!cadastroForm.valid" class="btn btn-outline-light btn-sm" value="Enviar">
  
                  </div> <!-- End Controls -->
                
                </form> <!-- End Form -->
                <!-- fim do formulario -->
              </div> <!-- End Row -->
  
            </div> <!-- End Row -->
          </div> <!-- End Container -->
  
          <hr class="socket">
          &copy; #Connect, 2019 - Todos os direitos reservados
  
        </div> <!-- End Row Outer -->
      </div> <!-- End Container Fluid -->
      
    </div>
    <!-- End Contact Section -->
  

  