<!-- Start Home Section -->
<div id="home">

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg fixed-top">
    <div class="container-fluid">
      <a href="#home" class="navbar-brand"><img src="img/nuno.png" alt=""></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
        <span class="custom-toggler-icon"><i class="fas fa-bars"></i></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a href="#home" class="nav-link">Início</a>
          </li>
          <li class="nav-item">
            <a href="#servicos" class="nav-link">Serviços</a>
          </li>
          <li class="nav-item">
            <a href="#parceiros" class="nav-link">Parceiros</a>
          </li>
          <li class="nav-item">
            <a href="#contribuicoes" class="nav-link">Contribuições</a>
          </li>
          <li class="nav-item">
            <a href="#team" class="nav-link">Equipe</a>
          </li>
          <li class="nav-item">
            <a href="#skills" class="nav-link">Sobre</a>
          </li>
          <li class="nav-item">
            <a href="#clients" class="nav-link">Contato</a>
          </li>
          <li class="nav-item">
            <a href="#contact" class="nav-link">Contato</a>
          </li>
        </ul>
      </div>

    </div>
  </nav>
  <!-- End Navigation -->

		<!-- Inicio da Landing page de apresentacao -->
		<div class="landing">
			<div class="home-wrap">
				<div class="home-inner"></div>
			</div>
		</div>
    <!-- Fim da Landing page de apresentação -->
    
    <!-- Start Landing Page Caption -->
		<div class="caption text-center text-light text-uppercase">

			<h1 class="font-weight-bold os-animation" data-animation="fadeInUp" data-delay=".6s">Doe <span class="text-nuno">Mais</span></h1>
			<h3 class="os-animation" data-animation="fadeInUp" data-delay=".8s">O bem faz bem!</h3>
			<a href="#servicos" class="btn btn-outline-light btn-lg rounded-0 os-animation" data-animation="fadeInUp" data-delay="1s">Get Started</a>

		</div>
    <!-- End Landing Page Caption -->

    <!-- responsavel por apresentar o set down -->
		<a href="#servicos" class="down-arrow text-center">
      <div class="arrow d-none d-md-block">
        <i class="fas fa-angle-down"></i>
      </div>
    </a>
    <!-- End set down -->
  </div> <!-- End Home Section -->

  <div id="servicos" class="offset">
  		<!-- Start Jumbotron -->
		<div class="jumbotron m-0 py-5">

			<div class="col-12 os-animation" data-animation="fadeInUp">
				<h3 class="heading">Nossos Serviços</h3>
				<div class="heading-underline"></div>
			</div>

			<div class="container">
				<div class="row text-center px-lg-4 px-xl-5">

					<div class="col-sm-6 col-md-4 os-animation" data-animation="fadeInLeft">
						<div class="feature px-2">
							<span class="fa-stack fa-2x">
								<i class="fas fa-circle fa-stack-2x"></i>
								<i class="fas fa-mobile-alt fa-stack-1x fa-inverse"></i>
							</span>
							<h3>Faça o Seu Cadastro </h3>
							<p class="lead">Faça o seu cadastro pela App ou pelo o site e encontre instituições sérias e ajuda e apoio social para você realizar a sua doação.</p>
						</div>
					</div>

					<div class="col-sm-6 col-md-4 os-animation" data-animation="fadeInUp">
						<div class="feature px-2">
							<span class="fa-stack fa-2x">
								<i class="fas fa-circle fa-stack-2x"></i>
								<i class="fas fa-desktop fa-stack-1x fa-inverse" data-fa-transform="shrink-1"></i>
							</span>
							<h3>Doe de Forma Simples</h3>
							<p class="lead">Pratique o bem, apoie instituições de forma rápida e fácil através do site ou app.</p>
						</div>
					</div>

					<div class="col-sm-6 col-md-4 os-animation" data-animation="fadeInRight">
						<div class="feature px-2">
							<span class="fa-stack fa-2x">
								<i class="fas fa-circle fa-stack-2x"></i>
								<i class="fas fa-play fa-stack-1x fa-inverse" data-fa-transform="shrink-3.5 right-1"></i>
							</span>
							<h3>Acompanhe sua Contribuição</h3>
							<p class="lead">Transparência e acompanhamento disponíveis a qualquer hora e qualquer lugar.</p>
						</div>
					</div>
				</div> <!-- End Row -->
			</div> <!-- End Container-->
    </div> <!-- End Jumbotron -->
    	<!-- Start Portfolio Section -->
	<div id="parceiros" class="offset">

      <div class="container-fluid px-0">
        <div class="row justify-content-center py-5">
  
          <div class="col-12 mt-5 os-animation" data-animation="fadeInUp">
            <h3 class="heading">Parceiros</h3>
            <div class="heading-underline"></div>
          </div>
  
          <div class="col-sm-6 col-md-3 p-0 os-animation" data-animation="bounceInLeft" data-delay=".2s">
            <div class="portfolio-item overflow-hidden">
              <a href="../assets/img/portfolio/1.png" data-lightbox="example-set" data-title="My Portfolio Image Description">
                <img src="../assets/img/portfolio/1.png" alt="" class="example-image w-100">
              </a>
            </div>
          </div>
  
          <div class="col-sm-6 col-md-3 p-0 os-animation" data-animation="bounceInLeft">
            <div class="portfolio-item overflow-hidden">
                <a href="../assets/img/portfolio/1.png" data-lightbox="example-set" data-title="My Portfolio Image Description">
                  <img src="../assets/img/portfolio/1.png" alt="" class="example-image w-100">
                </a>
            </div>
          </div>
  
          <div class="col-sm-6 col-md-3 p-0 os-animation" data-animation="bounceInRight">
            <div class="portfolio-item overflow-hidden">
                <a href="../assets/img/portfolio/1.png" data-lightbox="example-set" data-title="My Portfolio Image Description">
                  <img src="../assets/img/portfolio/1.png" alt="" class="example-image w-100">
                </a>
            </div>
          </div>
  
          <div class="col-sm-6 col-md-3 p-0 os-animation" data-animation="bounceInRight" data-delay=".2s">
            <div class="portfolio-item overflow-hidden">
                <a href="../assets/img/portfolio/1.png" data-lightbox="example-set" data-title="My Portfolio Image Description">
                  <img src="../assets/img/portfolio/1.png" alt="" class="example-image w-100">
                </a>
            </div>
          </div>
        </div> <!-- End Row -->
      </div> <!-- End Container -->
  
    </div>


    <!-- Start Skills Section -->
  	<div id="contribuicoes" class="offset">
      
        <div class="jumbotron m-0 py-5">
            <div class="container">
      
              <div class="col-12 os-animation" data-animation="fadeInUp">
                <h3 class="heading">Contribuições</h3>
                <div class="heading-underline"></div>
              </div>
      
              <div class="row justify-content-center text-center os-animation" data-animation="fadeInUp">
                <div class="col-md-9 col-lg-12 col-xl-11">
                  <div class="row">
      
                    <div class="col-md-6 col-lg-3">
                      <span class="fa-stack fa-3x">
                        <i class="fas fa-circle fa-stack-2x"></i>
                        <i class="fas fa-clock fa-stack-1x fa-inverse"></i>
                      </span>
                      <h1 class="text-nuno font-weight-bold py-1"><span class="counter">10</span></h1>
                      <h4 class="text-uppercase font-weight-bold">Campanhas Dedicadas</h4>
                    </div>
      
                    <div class="col-md-6 col-lg-3">
                      <span class="fa-stack fa-3x">
                        <i class="fas fa-square fa-stack-2x"></i>
                        <i class="fab fa-codepen fa-stack-1x fa-inverse"></i>
                      </span>
                      <h1 class="text-nuno font-weight-bold py-1"><span class="counter">6</span></h1>
                      <h4 class="text-uppercase font-weight-bold">Entidades Associadas</h4>
                    </div>
      
                    <div class="col-md-6 col-lg-3">
                      <span class="fa-stack fa-3x">
                        <i class="fas fa-square fa-stack-2x"></i>
                        <i class="fas fa-users fa-stack-1x fa-inverse"></i>
                      </span>
                      <h1 class="text-nuno font-weight-bold py-1"><span class="counter">4</span></h1>
                      <h4 class="text-uppercase font-weight-bold">Doadores Envolvidos</h4>
                    </div>
      
                    <div class="col-md-6 col-lg-3">
                      <span class="fa-stack fa-3x">
                        <i class="fas fa-circle fa-stack-2x"></i>
                        <i class="fas fa-cloud-download-alt fa-stack-1x fa-inverse"></i>
                      </span>
                      <h1 class="text-nuno font-weight-bold py-1"><span class="counter">101</span></h1>
                      <h4 class="text-uppercase font-weight-bold">Valor Arrecadado</h4>
                    </div>
      
                  </div> <!-- End Row -->
                </div> <!-- End Column -->
              </div> <!-- End Row Justify Content -->
            </div> <!-- End Container -->
          </div> <!-- End Jumbotron -->
  	</div>

  </div>

  