<!-- header -->
<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
  <div class="container">
    <!-- <a class="navbar-brand" href="#">#CONNECT</a> -->
    <a class="navbar-brand" href="#">
      <img id="logo" src=" ../assets/img/logo_1.png">
    </a>
    <!-- menu hamburguer -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#menuNavbar"
      aria-controls="#menuNavbar" aria-expanded="false">
      <span class="navbar-toggler-icon"></span>
    </button>
    <!-- menu de opcoes -->
    <div class="collapse navbar-collapse" id="menuNavbar" style="padding-left: 5%">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link add-cursor">Início</a>
        </li>
        <li class="nav-item">
          <a href="#historia" class="nav-link add-cursor">História</a>
        </li>
        <li class="nav-item">
          <a class="nav-link add-cursor">Missão</a>
        </li>
        <li class="nav-item">
          <a class="nav-link add-cursor">Sobre</a>
        </li>
        <li class="nav-item">
          <a href="#contato" class="nav-link add-cursor">Contato</a>
        </li>
      </ul>
    </div>
    <!-- fim menu de opcoes-->
  </div>
</nav>

<div class="container-fluid">
  <!-- imagem -->
  <div class="row">
    <div class="col-sm" id="imagemFundo">
      <div class="my-5 textoTitulo">
        <h1>DOE +</h1>
        <h4>Ajude a quem precisa</h4>
      </div>
    </div>
  </div>
  <!-- barra de serviços -->
  <section id="servicos" class="py-5">
    <div class="col-sm text-center">
      <h2 class="text-center title">Nossos <span class="color-text">Serviços</span></h2>
      <hr class="c-hr">
    </div>  
    <div class="row" id="barraServico"></div>
  </section>
  <!-- Conteudo -->
  <div class="row">
    <div class="col-sm text-center caixa">
      <img src="../assets/img/register1.png" class="imgServico">
      <h3 class="tituloServico">Faça o seu cadastro</h3>
      <p class="descricaoServico">Faça o seu cadastro pela App ou pelo o site e encontre instituições sérias e ajuda e apoio social para você realizar a sua doação</p>
    </div>
    <div class="col-sm text-center caixa">
      <img src="../assets/img/donate.png" class="imgServico">
      <h3 class="tituloServico">Doe de forma Simples</h3>
      <p class="descricaoServico">Pratique o bem, apoie instituições de forma rápida e fácil através do site ou app.</p>
    </div>
    <div class="col-sm text-center caixa">
      <img src="../assets/img/keep1.png" class="imgServico">
      <h3 class="tituloServico">Acompanhe sua Contribuição</h3>
      <p class="descricaoServico">Transparência e acompanhamento disponíveis a qualquer hora e qualquer lugar</p>
    </div>
  </div>
  <!-- barra nossa historica -->
  <section id="historia" class="py-5">
    <div class="col-sm text-center">
      <h2 class="text-center title">Nossa <span class="color-text">História</span></h2>
      <hr class="c-hr">
    </div>  
    <div class="row" id="barraServico"></div>
  </section>
  <!-- conteudo -->
  <div class="row">
    <div class="col-sm text-center caixa">
      <p class="descricaoServico">Este projeto iniciou em 2019 com um sonho de ajudar ONGs e engajar voluntários na prática do bem. Criamos então o aplicativo "Doe Mais" com o objetivo de divulgar trabalhos e ONG's da região e captar doações de seus voluntários.</p>
      <p class="descricaoServico">#Connect Sistemas de Informática Ltda – Desenvolvedora do Doe Mais – Focada em viabilizar o desenvolvimento, manutenção e internacionalização do Aplicativo.</p>
     </div> 
  </div>

  <!-- barra de sobre nós -->
  <section id="sobre" class="py-5">
      <div class="col-sm text-center">
        <h2 class="text-center title">Sobre <span class="color-text">Nós</span></h2>
        <hr class="c-hr">
      </div>  
      <div class="row" ></div>
  </section>

  <div class="row">
      <div class="col-sm text-center caixa">
        <h3 class="tituloServico">Equipe</h3>
        <p class="descricaoServico">Faça o seu cadastro pela App ou pelo o site e encontre instituições sérias e ajuda e apoio social para você realizar a sua doação</p>
      </div>
  </div>  

  <!-- barra de sobre nós -->
  <section id="contato" class="py-5">
      <div class="col-sm text-center">
        <h2 class="text-center title">Nosso <span class="color-text">Contato</span></h2>
        <hr class="c-hr">
      </div>  
      <div class="row" ></div>
  </section>

  <div class="row">
      <div class="col-sm text-center caixa">
          <div class="contact-form">
              <div class="container">
                <div class="row justify-content-center">
                  <div class="col-md-9 col-xs-11">
                    <form action="" method="POST">
                      <div class="row pt-3">
                        <div class="col-md-6 col-xs-12">
                          <div class="form-group">
                            <input type="text" placeholder="Nome" name="name" class="form-control">
                          </div>
                        </div>
                        <div class="col-md-6 col-xs-12">
                          <div class="form-group">
                            <input type="email" placeholder="E-mail" name="email" class="form-control">
                          </div>
                        </div>
                        <div class="col-md-12 col-xs-12">
                          <div class="form-group">
                            <input type="text" placeholder="Título" name="subject" class="form-control">
                          </div>
                        </div>
                        <div class="col-md-12 col-xs-12">
                          <div class="form-group">
                            <textarea name="msg" class="form-control" placeholder="Mensagem" cols="30" rows="10"></textarea>
                          </div>
                        </div>
                        <div class="col-md-12 col-xs-12">
                          <div class="form-group">
                            <button type="submit" class="btn btn-primary">
                              <i class="ion-paper-airplane"></i>
                              Enviar
                            </button>
                          </div>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
      </div>
  </div>  

</div>

<div id="counter"></div>

<footer class="page-footer bg-dark" id="footer">
  <div class="text-center py-3 text-light">Direitos reservados #CONNECT 2019</div>
</footer>

<router-outlet></router-outlet>