#imagemFundo{
    margin-top: 50px;
    background-size: cover;
    background-image: url("../assets/img/bg.jpg");
    height:240px;
}

.textoTitulo{
    color:#FFFFFF;
}

.caixa:hover {
    background: #f4f4f4;
    -webkit-transition: 0.5s all;
    transition: 0.5s all; 
    cursor: hand;
    cursor: pointer;
}

.title{
    font-weight: 300;
    color: #333333;
    text-transform: uppercase;
    font-size: 2.4em;
}

.c-hr{
    margin:auto;
    width: 68px;
    position: relative;    
    border-top: 2px solid #3CB371;
    margin-top: 1em;
}
.color-text{
    color: #3CB371;
}

#logo{
    height: 60px;
}

#barraServico{
    margin-top: 2%;
    margin-bottom: 2%;
}

.tituloServico{
    margin-top: 5%;
    margin-bottom: 2%;
}

.descricaoServico{
    padding-left: 11%;
    padding-right: 11%;
}

.imgServico{
    width: 120px;
}

.imgLogo{
    margin-top: 5%;
    height: 150px;
}

#footer{
    background-color: #257fc1;
    margin-top:3%;
}

.add-cursor{
    cursor: hand;
    cursor: pointer;
}


.div_teste{
    width:200px;
    height:100px;
    background:#f00;
    position:absolute;
    z-index:100;
    bottom:0;
    }